body {
    margin: 0px;
}

.display {
    background: url(https://cdn.wallpapersafari.com/24/74/zgeTuV.jpg);
    height: 100vh;
    background-size: cover;
}

.display-desktop-bck {
    background-color: #0F1215;
    padding: 0 32px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(30px);
    border: 1px solid #FFFFFF60;
    background: linear-gradient(111deg, rgba(49, 32, 32, 0.14) 1.21%, rgba(196, 196, 196, .02) 100%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}

.display-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 80px;

}

.display-text {
    font-size: 80px;
    width: 1200px;
    max-width: 100%;
    text-align: center;
    color: white;
}

.display-title {
    font-size: 20px;
    color: white;
    width: 1200px;
    max-width: 100%;
    text-align: center;
    margin-top: 20px;

}

.span {
    color: black;
}

.display_text-b {
    font-size: 40px;
    background: linear-gradient(169deg, #FFF 8.16%, #505356 150.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.display_3 {
    text-decoration: none;
    font-size: 20px;
    color: white;
    width: 150px;
    border-radius: 16px;
    border-radius: 16px;
    border: 0.8px solid rgba(214, 251, 252, 0.06);

    background: linear-gradient(65deg, #0F1215 4.18%, #181A1A 116.91%);
    padding: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.movie_details {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    margin: auto;
    gap: 30px 20px;

}

.movie-card {
    border-radius: 16px;
    border: 0.8px solid rgba(214, 251, 252, 0.06);
    background: linear-gradient(65deg, #0F1215 4.18%, #181A1A 116.91%);
    padding: 20px 32px;
}

.movie-img {
    width: 200px;
    height: 250px;

}

.element-movie-img {
    width: 100%;
    height: 250px;

}

.movie--img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.select_details {
    display: flex;
    overflow-x: scroll;
    gap: 30px;
    padding: 24px 0;

}

.movie_app {
    background-color: #0F1215;
    padding: 40px;
}

.movie_nav {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}

.movieApp_search {
    backdrop-filter: blur(70px);
    border: 1px solid #FFFFFF60;
    background: linear-gradient(111deg, rgba(255, 255, 255, .14) 1.21%, rgba(196, 196, 196, .02) 100%);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 0 20px;
    margin: auto;

}

.movieApp_pagination {
    backdrop-filter: blur(70px);
    border: 1px solid #FFFFFF60;
    background: linear-gradient(111deg, rgba(255, 255, 255, .14) 1.21%, rgba(196, 196, 196, .02) 100%);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 10px 20px;
    margin: auto;
}


.index-back {
    color: white;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.search-btn {
    background-color: #0F1215;
    color: white;
    border: none;
    width: 100px;
}

.search {
    padding: 10px;
    width: 350px;
    display: flex;
}

.movie_title {
    background: linear-gradient(169deg, #FFF 8.16%, #505356 150.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    margin-top: 10px;
}

.movie_link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.movie_link_id {
    margin-left: 80px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 10px;
}

.pagination {

    justify-content: center;
    margin-top: 20px;
}

.page {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.movie-ids {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    backdrop-filter: blur(70px);
    border: 1px solid #FFFFFF60;
    background: linear-gradient(111deg, rgba(255, 255, 255, .14) 1.21%, rgba(196, 196, 196, .02) 100%);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    margin: auto;
    padding-bottom: 40px;

}

.id-image {
    padding-left: 40px;
}

.id-details {
    display: flex;
    justify-content: center;
}

.movie-id-details {
    width: 700px;
    padding: 0 30px;
    padding-top: 20px;
    backdrop-filter: blur(70px);
    border: 1px solid #FFFFFF60;
    background: linear-gradient(111deg, rgba(255, 255, 255, .14) 1.21%, rgba(196, 196, 196, .02) 100%);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    /* background-color: red; */
}

.movie-id-title {
    text-align: center;
    background: linear-gradient(169deg, #000 8.16%, #505356 150.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.movie-genre {
    background: linear-gradient(169deg, #FFF 8.16%, #505356 150.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.line {
    height: 1px;
    background: linear-gradient(169deg, #FFF 8.16%, #505356 150.61%);
    width: 1200px;
    max-width: 100%;

}

.id-text {
    color: black;
    /* font-size: 40px;7 */
}

.id-image {
    width: 400px;
    height: 500px;
}

.id--image {
    width: 100%;
    height: 100%;
}



.move {
    background-color: #0F1215;

}

.spinner {
    width: 200px;
}

.spinner--img {
    width: 100%;
}

.spinners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    background-color: #0F1215;

}

.movie_back {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 40px;
    text-decoration: none;
    color: black;
}

.content {
    font-size: 24px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.back {
    color: black;
}

/* .movie_app {
    /* background-image: url('your-background-image.jpg'); */
/* Replace with your background image URL *
background-attachment: fixed;
background-size: cover;
background-position: center;
height: 100vh;
/* Adjust the height as needed *
overflow: hidden;
position: relative;
}

.movie_details {
    background: rgba(255, 255, 255, 0.9);
    /* Add a semi-transparent white background for the content *
    border-radius: 10px;
    overflow-y: auto;
    max-height: 90%;
    /* Adjust the maximum height as needed *
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 90%;
}

*/
/* Add any other necessary styles for your elements */
/* For WebKit-based browsers (Safari, some versions of Chrome) */
/* Hide the scrollbar, but still allow scrolling */
body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer/Edge */
}

body::-webkit-scrollbar {
    width: 0.01rem;
    /* Width of the vertical scrollbar */
    height: 0.01rem;
    /* Height of the horizontal scrollbar */
}

body::-webkit-scrollbar-thumb {
    background: transparent;
    /* Color of the thumb (the moving part of the scrollbar) */
}

body::-webkit-scrollbar-track {
    background: transparent;
    /* Color of the track (the background of the scrollbar) */
}

.select_details::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.select_details {
    scrollbar-width: none;
}

@media (max-width: 900px) {

    .movie_details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        margin: auto;
        gap: 20px;

    }


}

@media (max-width: 600px) {

    .display-info {
        padding-left: 0;
    }

    .display_3 {
        padding: 12px;
    }

    .display-text {
        font-size: 40px;
        line-height: 45px;
    }

    .line {
        margin-left: 0;
    }

    .select_details {
        display: flex;
        overflow-x: scroll;
        gap: 21px;
        padding: 24px 0;
    }

    .movie-img {
        width: 150px;
        height: 174px;
    }

    .movie-card {
        padding: 7px 19px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .movie_title {
        font-size: 18px;
    }

    .movie--img {
        margin-top: 10px;
    }

    .movie_link {
        margin-top: 18px;
    }

    .display-desktop-bck {
        background-color: #0F1215;
        padding: 0;
    }

    .movie_details {
        padding: 0;
    }

    .movie_details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        margin: auto;
        gap: 20px;

    }

    .element-movie-img {
        width: 100%;
        height: 100%;
    }

    .index-back {
        padding-left: 0;
    }

    .page {
        flex-direction: column;
    }

    .search {
        padding: 10px 0px;
    }

    .movie_app {
        padding: 20px;
        padding-bottom: 140px;
    }

    .id-details {
        flex-direction: column;
        padding: 14px;
    }

    .id-image {
        padding-left: 0;
    }

    .movie-id-details {
        width: 100%;
        padding: 0px;
    }

    .id-image {
        width: 100%;
    }

    .id-text {
        padding: 10px;
    }
}